/* LINK STYLING */
a:link {
	font-weight: bold:
	text-decoration: none;
	color: rgb(40,50,175);
}

a:visited {
	font-weight: bold:
	color: rgb(40,50,175);
	text-decoration: none;
}

a:hover {
	font-weight: bold:
	color: rgb(40,50,175);
	text-decoration: underline;
}

a:active {
	font-weight: bold:
	color: rgb(40,50,175);
	text-decoration: underline;
}

a{
	font-weight: bold;
	color: rgb(40,50,175);
	cursor: pointer;
}


/* Controlling spacing and placement */
span.right {
	display: block;
	float: right;
}

span.left {
	display: block;
	float: left;
}

.clear {
	clear:both;
}

.hidden {
	display: none;
}

.text_center {
	text-align: center
}

.vert20 {
	display: block;
	height: 20px;
}

.vert10{
	display: block;
	height: 10px;
}


/* Bassic Chassis */
#rightcol{
	float:left;
	width: 200;
}

#centercol{
	float:left;
	width: 600;
}

#leftcol{
	float: left;
	width: 200px;
}

#navbar {
	width: 200px;
	background: white;
	border-top: rgb(230,230,230) 1px solid;
	border-left: rgb(230,230,230) 1px solid;
	border-bottom: rgb(140,140,140) 1px solid;
	border-right: rgb(140,140,140) 1px solid;
}

.navitem {
	display: block;
	padding: 4px 4px 4px 16px;
	cursor: pointer;
	color: rgb(40,50,175);
	font-weight: bold;
}

.navbox {
	margin-bottom: 4px;
}


#footer {
}


/* Font and Color */
.red_text{
	color: red;
}

.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}
